
@{
	ViewBag.Title = "SignUp";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model OrganizeIsler.Entity.Kullanicilar
<h2>SignUp</h2>

<!DOCTYPE html>
<html>
<head>

	<style>

		html, body {
			background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			font-family: 'Numans', sans-serif;
		}
	</style>


	<title>Login Page</title>
	<!--Made with love by Mutiullah Samim -->
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	@Html.BeginForm("SignUp", "Login", FormMethod.Post){
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Sign In</h3>
					<div class="d-flex justify-content-end social_icon">
						<span><i class="fab fa-facebook-square"></i></span>
						<span><i class="fab fa-google-plus-square"></i></span>
						<span><i class="fab fa-twitter-square"></i></span>
					</div>
				</div>
				<div class="card-body">
					<form>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							@Html.TextBoxFor(x=>x.Adi,new {placeholder="Adınız..", @class="form-control"});
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							@Html.TextBoxFor(x => x.Soyadi, new { placeholder = "Soyadınız..", @class = "form-control" });
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							@Html.TextBoxFor(x => x.Tel, new { placeholder = "Telefon..", @class = "form-control" });

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							@Html.TextBoxFor(x => x.Email, new { placeholder = "Email..", @class = "form-control" });

						</div>


						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							@Html.TextBoxFor(x => x.Sifre, new { placeholder = "Sifre Giriniz..", @class = "form-control" });
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<input type="submit" value="Kayıt Ol" class="btn float-right login_btn">
						</div>
					</form>
				</div>
				<div class="card-footer">


				</div>
			</div>
		</div>
	</div>
	}
</body>
</html>

